<!--<span>Bạn có muốn xóa</span><span>{{data.name.name}}</span>-->
<!--<button mat-dialog-close="false" class="btn btn-warning">Close</button>-->
<!--<button mat-dialog-close="true" class="btn btn-danger">Delete</button>-->


<div class="" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" mat-dialog-close="false" ></button>
      </div>
      <div class="modal-body">
        <p><span>Bạn có muốn xóa</span> <span>{{data.nameCar}}</span></p>
      </div>
      <div class="modal-footer">

        <button mat-dialog-close="false" class="btn btn-warning">Close</button>
        <button mat-dialog-close="true" class="btn btn-danger">Delete</button>

      </div>
    </div>
  </div>
</div>

